# ITMGT 25.03 EE
### Assignment 1

These exercises are designed to strengthen your grasp on basic programming concepts. Read what is required of you carefully.

This assignment is only over 10 points, but there are 15 points available to earn from answering the questions. It will be credited to Class Participation, which will be over 200 for the entire semester.

Rename the file to:

Lastname_Assignment_1.ipynb

Send to my email account: joben.ilagan@gmail.com. 
Attach the file or create a Dropbox link. 
The deadline is Tuesday, 18 June 2019, 12:00 nn.

You may earn another 2 bonus points for figuring out GitHub and linking me to your repository in your email. (This brings the absolute maximum possible grade for this assignment to 17/10.)

# 1
### 1 point

Write a function that takes the circumference of a circle as a parameter and **returns** the area of that circle.

In [159]:
# Circumference = 2(3.14)(radius)
# Area = (3.14)(radius^2)

def circumferenceToArea(circumference):
    radius = circumference/2/3.14
    area = 3.14*(radius**2)
    return area

circumferenceToArea(31.42)

78.60003184713375

# 2
### 2 points

Write a function that takes a 5-character string as a parameter and **returns** the string in reverse order.

e.g. reverseString("Hello") -> "olleH"

In [49]:
# use [] to extract characters
# use + to concatenate

def fiveCharacterString(words):
    first = words[0]
    second = words[1]
    third = words[2]
    fourth = words[3]
    fifth = words[4]
    return(fifth+fourth+third+second+first)

fiveCharacterString("Hello")

'olleH'

# 3
### 2 points

Write a function that takes a positive integer as input and **returns** the sum of all positive integers smaller than and including the number itself.

e.g. backAddition(5) -> 1 + 2 + 3 + 4 + 5 -> 15

In [26]:
def backAddition(integer):
    running_total = 0
    for i in range(0,integer+1):
        running_total += i
    return print(running_total)
backAddition(5)

15

In [27]:
# Alternative Solution using sum() function
def backAddition(integer):
    return sum(x for x in range(1,integer+1))
 
backAddition(5)
    # manipulate the ("integer")
    
# Notes:
    # since x is part of the range of numbers within 1 and the integer, get the summation
    # integer+1 because computers start counting from 0

15

# 4
### 3 points

Write a function that does the following:
1. The function iterates through each number from 1 to 100. Print each number.
2. If the number is divisible by 3, instead of the number, print "Fizz"
3. If the number is divisible by 5, instead of the number, print "Buzz"
4. If the number is divisible by both 3 and 5, instead of the number, print "FizzBuzz"

e.g.

1

2

Fizz

4

Buzz

Fizz

...

14

FizzBuzz

16

17

...

In [2]:
for i in range(1,101):
    remainder_3 = i%3
    remainder_5 = i%5
    if (remainder_3 + remainder_5 == 0):
        print("FizzBuzz")
    elif (remainder_3==0):
        print("Fizz")
    elif (remainder_5==0):
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# 5
### 2 points

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, using programming, find the sum of the even-valued terms.

In [123]:
# Step 1: Printing the Fibonacci sequence
    # 1     +   2    =   3 
    # first + second = third
    #           2    +   3    =   5
    #          first + second = third

first = 0
second = 1
for i in range(0,10):
    third = first + second
    first = second
    second = third
    print(third)

1
2
3
5
8
13
21
34
55
89

In [143]:
# Step 2: Printing only even values in the Fibonacci sequence
first = 0
second = 1
for i in range(0,35):
    third = first + second
    first = second
    second = third
    if (third%2 == 0):
        print(third)
        
# Even Fibonacci number less than 4000000 is less than 35...

2
8
34
144
610
2584
10946
46368
196418
832040
3524578
14930352

In [145]:
# Step 3: Printing the sum of all even values
    #...therefore use 34 for the bound
first = 0
second = 1
total = 0
for i in range(0,34):
    third = first + second
    first = second
    second = third
    if (third%2 == 0):
        total += third
        print(total)

2
10
44
188
798
3382
14328
60696
257114
1089154
4613732

In [153]:
# Step 4: Printing the final answer
first = 0
second = 1
total = 0
for i in range(0,34):
    third = first + second
    first = second
    second = third
    if (third%2 == 0):
        total += third
print(total)

4613732

In [158]:
# Simplified Solution
first = 0
second = 1
total = 0
for i in range(0,third):
    third = first + second
    first = second
    second = third
    if (third%2 == 0 and third <= 4000000):
        total += third
print(total)

4613732

# 6
### 5 points (all or nothing)

The sum of the squares of the first ten natural numbers is,
12 + 22 + ... + 102 = 385

The square of the sum of the first ten natural numbers is,
(1 + 2 + ... + 10)2 = 552 = 3025

Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 âˆ’ 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

Show code that generates the answer.

In [5]:
# answer = (sum(i^2))-((sum(i))^2)
total_numSquared = 0
total_sum = 0
total_sumSquared = 0
difference = 0
for i in range(1,101):
    numSquared = i**2
    total_numSquared += numSquared
    total_sum += i
    total_sumSquared = total_sum**2
    difference = total_sumSquared - total_numSquared
print(difference)

# Legend:
    # numSquared = numbers squared
    # total_numSquared = sum of squares
    # total_sum = sum of numbers
    # total_sumSquared = square of the sum
    # difference = (sum(i^2))-((sum(i))^2)

25164150